* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
}
:root {
  --green-color: #00bd56;
}

.upContent {
    animation: upContent 0.2s ease-in;
}

@keyframes upContent {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

.bg-light {
  background-color: #ececec!important;
}

.ovelay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  visibility: hidden;
}

.content {
  padding: 105px 0;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(--green-color);
  color: #fff;
  font-style: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.7;
}

/* BEGIN HEADER */

.top__header {
  background: linear-gradient(45deg, #207dff 0%, #00bd55 100%);
}

.top__header a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.header__connect {
  height: 40px;
}

.header__connect > a {
  margin-right: 8px;
}

.header__connect .icon {
  margin-right: 4px;
}

.header__social a {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
}

.header__social a:hover {
  background-color: var(--green-color);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  font-size: 28px;
  text-decoration: none;
}

.shop-logo {
  color: var(--green-color);
  margin-right: 12px;
}

.shop-name {
  color: #000;
  font-weight: 800;
}

.header__menu {
  display: none;
  margin-right: 10px;
}

.respon-menu {
  font-size: 18px;
  font-weight: 200;
  opacity: 0.7;
}

.respon-menu:active {
  cursor: pointer;
  opacity: 1;
}

.respon-menu i {
  font-size: 16px;
  margin-right: 8px;
}

.nav-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-bar a {
  display: inline-block;
  padding: 36px 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  border-bottom: 3px solid transparent;
  /* transition: all ease-in 0.5s; */
}

.nav-bar a:hover {
  color: var(--green-color);
  border-bottom: 3px solid var(--green-color);
}

.active {
  color: var(--green-color) !important;
  border-bottom: 3px solid var(--green-color) !important;
}

/* END HEADER */

/* BEGIN FOOTER */

.footer {
  background: #1a1a1a;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 7em 0;
}

.footer a {
  color: #00bd56;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
}

.footer .copyright {
  color: rgba(255, 255, 255, 0.3);
  color: #999;
}

.footer .footer-heading {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.footer .footer-heading:after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  width: 40px;
  height: 4px;
  background: #00bd56;
}

.footer ul.list-unstyled li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer .block-21 .img {
  display: block;
  height: 80px;
  width: 80px;
}

.footer .block-21 .text {
  width: calc(100% - 100px);
}

.footer .block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.footer .block-21 .text .heading a {
  color: #fff;
}

.footer .block-21 .text .heading a:hover,
.footer .block-21 .text .heading a:active,
.footer .block-21 .text .heading a:focus {
  text-decoration: none;
}

.footer .block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.footer .block-21 .text .meta > div a {
  color: gray;
}

.footer .block-23 ul li {
  color: rgba(255, 255, 255, 0.6);
}

.footer .block-23 ul li a {
  color: rgba(255, 255, 255, 0.6);
}

.footer .block-23 ul li .icon {
  color: rgba(255, 255, 255, 0.4);
}

.footer .ftco-footer-social li a {
  background: rgba(255, 255, 255, 0.1);
  color: #00bd56 !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.img,
.blog-img,
.user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.block-23 ul {
  padding: 0;
}

.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}

.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7);
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}

.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: #fff;
}

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
  padding-left: 16px;
}

.block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
}

.block-21 .text .heading a {
  color: #000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active {
  color: #00bd56;
}

.block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.block-21 .text .meta > div a {
  color: gray;
}
/* END FOOTER */

/* BEGIN BANNER */

#banner {
  overflow: hidden;
  position: relative;
  height: 400px;
  background: linear-gradient(
      45deg,
      rgba(32, 125, 255, 0.5) 0%,
      rgba(0, 189, 85, 0.5) 100%
    ),
    center/cover no-repeat url(../imgs/xbg_2.jpg.pagespeed.ic.pOHEUHIx4g.webp);
  background-attachment: fixed;
}

#banner .banner__breadcrumb {
  color: #fff;
  position: absolute;
  bottom: 0;
}

.breadcrumb > * {
  /* margin: 0 12px 16px 0; */
  margin-right: 12px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.inner-page {
  font-weight: 400;
}

/* END BANNNER */

/* BEGIN: PAGINATION */

.list__number-page {
  display: flex;
  list-style: none;
  justify-content: center;
}

.list__number-page a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  margin: 0 4px;
  color: gray;
}

/* Page 1 active */

.list__number-page li:nth-child(2) a {
  background-color: var(--green-color);
  color: #fff;
  border-color: var(--green-color);
}

/* Page 1 active */

.list__number-page a:hover {
  background-color: var(--green-color);
  color: #fff;
  border-color: var(--green-color);
}

/* END: PAGINATION */
