.gallery-item {
    height: 270px;
    position: relative;
    border-radius: 4px;
    transition: 3s ease-in-out;
}

.gallery-item:hover .gallery-desc, 
.gallery-item:hover .gallery-icon,
.gallery-item:hover .ovelay {
    visibility: visible;
}
  
.gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    z-index: 1;
    background: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    opacity: 0.8;
    visibility: hidden;
}

.gallery-icon:hover {
    opacity: 1;
    color: #fff;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}

.gallery-desc {
    visibility: hidden;
}

.gallery-desc span {
    color: rgba(255,255,255,.5);
    margin-bottom: 4px;
}
  
.gallery-desc p {
    line-height: 1.2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
  