#banner-home {
    height: 714px;
    background: url(../imgs/xbg_1.jpg.pagespeed.ic.9Lcatm9Xkb.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
}

#banner-home .slider-text {
    margin-top: 256px;
}

#banner-home .slider-text h1 {
    color: #fff;
    line-height: 1.2;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 70px;
    text-align: center;
}

h1 {
    padding: 0 120px;
}

.mb-4 {
    margin-bottom: 1.5 rem !important;
}

.text-center {
    text-align: center !important;
}

@media (max-width: 991.98px) {
    #banner-home .slider-text h1 {
        font-size: 40px;
    }
}

.btn {
    color: #fff;
    background: #00bd56;
    border: 1px solid #00bd56;
}

.char a:hover {
    color: #00bd56;
    background: none;
    border: 1px solid #00bd56;
}

.flaticon-blind:before {
    content: "\f102";
}

.flaticon-dog-eating:before {
    content: "\f103";
}

.flaticon-grooming:before {
    content: "\f104";
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-block {
    display: block !important;
}

@font-face {
    font-family: "Flaticon";
    src: url(../fonts/flaticon/font/Flaticon.eot);
    src: url(../fonts/flaticon/font/Flaticon.eot?#iefix) format("embedded-opentype"), url(../fonts/flaticon/font/Flaticon.woff) format("woff"), url(../fonts/flaticon/font/Flaticon.ttf) format("truetype"), url(../fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
    font-weight: normal;
    font-style: normal;
}

.ftco-intro .services {
    padding: 30px;
    background: #fff;
    border-radius: 4px;
}

@media (min-width: 992px) {
    .ftco-intro .services {
        margin-top: -50px;
    }
}


/* BEGIN: services */

.block-1 {
    padding-bottom: 105px;
}

.services {
    display: block;
    width: 100%;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 8px 21px -10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 8px 21px -10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 21px -10px rgba(0, 0, 0, 0.08);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    line-height: 1.3;
    border-radius: 50%;
    background: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -50px;
}

.services .icon span {
    font-size: 40px;
    color: #00bd56;
}

.services .media-body {
    margin-top: 40px;
    padding: 28px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services .media-body h3 {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services .media-body .btn-custom {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #00bd56;
    -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
}

.services .media-body .btn-custom span {
    color: #fff;
}

.services:hover,
.services.active {
    background: #00bd56;
}

.services:hover .icon,
.services.active .icon {
    background: #fff;
}

.services:hover .media-body,
.services.active .media-body {
    color: rgba(255, 255, 255, 0.9);
}

.services:hover .media-body h3,
.services.active .media-body h3 {
    color: #fff;
}

.services:hover .btn-custom,
.services.active .btn-custom {
    background: #fff;
    right: -20px;
}

.services:hover .btn-custom span,
.services.active .btn-custom span {
    color: #00bd56;
}

@media (max-width: 991.98px) {
    .services {
        margin-bottom: 30px;
    }
}


/* End: services */


/* sevice-2 */

.img-video {
    height: 500px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

@media (max-width: 767.98px) {
    .img-video {
        height: 400px;
    }
}

.ftco-section {
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}

.heading-section h2 {
    font-size: 30px;
    font-weight: 800;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.services-2 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.services-2 .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    background: #00bd56;
    -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.15);
}

.services-2 .icon span {
    font-size: 40px;
    color: #fff;
}

.services-2 .text {
    width: calc(100% - 60px);
}

.services-2 .text h4 {
    font-size: 20px;
    font-weight: 700;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0
}

.col,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-11,
.col-md-12,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

@media (min-width:768px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .order-md-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

#section-counter {
    position: relative;
    z-index: 0
}

.ftco-counter {
    margin-top: 20px;
    overflow-x: hidden;
    position: relative;
    padding: 4em 0;
    background: #00bd56
}

@media (max-width:1199.98px) {
    .ftco-counter {
        background-position: center center !important
    }
}

.ftco-counter .block-18 {
    display: block;
    width: 100%
}

@media (max-width:991.98px) {
    .ftco-counter .block-18 {
        margin-bottom: 2em
    }
}

.ftco-counter .text {
    position: relative
}

@media (max-width:767.98px) {
    .ftco-counter .text {
        width: 100%
    }
}

.ftco-counter .text .number {
    line-height: 1;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    display: block;
    margin-bottom: 10px
}

.ftco-counter .text span {
    font-size: 17px;
    color: #fff
}

@media (max-width:767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px
    }
}

.icon-video {
    width: 80px;
    height: 80px;
    background: #fff;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.icon-video span {
    font-size: 20px;
    color: #00bd56;
}

.hover_play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #00bd56;
    z-index: 1;
}

.img-video:hover .hover_play {
    animation: thanh 2s ease-in 1s infinite forwards;
}

@keyframes thanh {
    0% {
        opacity: .6;
    }
    30% {
        opacity: 0;
        width: 140px;
        height: 140px;
    }
    100% {
        opacity: 0;
        width: 140px;
        height: 140px;
    }
}

.ftco-faqs .img {
    height: 450px;
    -webkit-box-shadow: 0 8px 21px -10px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 8px 21px -10px rgba(0, 0, 0, .12);
    box-shadow: 0 8px 21px -10px rgba(0, 0, 0, .12)
}

.ftco-faqs .img.img-2 {
    height: 250px
}

.ftco-faqs .myaccordion {
    margin: 0 auto;
    overflow: hidden
}

.ftco-faqs .myaccordion .card,
.ftco-faqs .myaccordion .card:last-child .card-header {
    border: none;
    background: transparent
}

.ftco-faqs .myaccordion .card-header {
    border: none;
    background: transparent
}

.ftco-faqs .myaccordion .card-header p {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: left
}

.ftco-faqs .myaccordion .fa {
    font-size: 16px;
    color: rgba(0, 0, 0, .3)
}

.ftco-faqs .myaccordion .btn {
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    color: #000;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 0;
    border-radius: 0 !important;
    margin-bottom: 10px;
    border-radius: 40px !important;
    -webkit-box-shadow: 0 2px 8px -4px rgba(0, 0, 0, .21) !important;
    -moz-box-shadow: 0 2px 8px -4px rgba(0, 0, 0, .21) !important;
    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, .21) !important
}

.ftco-faqs .myaccordion .btn-link:hover,
.ftco-faqs .myaccordion .btn-link:focus {
    text-decoration: none
}

.ftco-faqs [data-toggle="collapse"] .fa:before {
    content: "\f068";
    font-family: "FontAwesome";
    font-style: normal
}

.ftco-faqs [data-toggle="collapse"].collapsed .fa:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-style: normal
}

.ftco-faqs button[aria-expanded="true"] {
    background-color: #00bd56;
    color: #fff !important
}

.ftco-faqs button[aria-expanded="true"] .fa {
    color: #fff !important
}

.ftco-faqs button[aria-expanded="false"] {
    background-color: #fff
}

.ftco-faqs .card-body {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 30px;
}

.ftco-faqs .card-body ol li {
    margin-bottom: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, .8)
}

.ftco-faqs .card-body ol li:last-child {
    margin-bottom: 0
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease
}

@media screen and (prefers-reduced-motion:reduce) {
    .collapsing {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0
}

.accordion .card {
    overflow: hidden
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.accordion .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.accordion .card .card-header {
    margin-bottom: -1px
}