@media (max-width: 1200px) {
    .header-inner {
        padding: 16px;
    }
    .header__menu {
        display: block;
    }
    .nav-bar {
        display: block;
    }

    .header__nav {
        display: none;
        width: 100%;
    }

    .nav-bar a {
        width: 100%;
        border-bottom: 3px solid rgba(0, 0, 0, 0.05); 
        padding: 14px 0;

    }

}